<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="utf-8">

    <title>Zoom In</title>

    <link rel="icon"
        href="https://images.vexels.com/media/users/3/141955/isolated/preview/d0f766bbe2603124417ed31d027b14c8-camera-icon-or-logo-by-vexels.png">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great|Limelight|Racing+Sans+One&display=swap"
        rel="stylesheet">


    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.9.1/themes/base/jquery-ui.css">


</head>

<body>

    <!-- Jumbotron -->
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <p id="lead">Zoom In</p>

            <nav>

                <div class="navigation">
                    <a id="createButton" class="active" href="create.html">Create</a>
                    <a href="find.html">Find</a>
                    <a id="groupsButton" href="groups.html">Groups</a>
                </div>

            </nav>

        </div>
    </div>

    <div class="container">
        <main class="center">

            <form class="column">
                <h3 class="center">Create New Event</h3>
                <input id="name" class="form-control" type="name" placeholder="Enter Name">

                <input class="form-control" type="date" id="date">

                <input id="zip" class="form-control" type="zip" placeholder="Enter Zip Code" pattern="[0-9]{5}" title="Please enter a 5 digit zip code.">


                <select id="category" placeholder="Photography" class="form-control" style=" height: 35px;">
                    <div class="input-group-append">

                        <option selected>Choose Photography Category</option>
                        <option value="1">Nature</option>
                        <option value="2">Urban</option>
                        <option value="3">Product</option>
                        <option value="4">Sports</option>
                        <option value="5">Food</option>
                        <option value="6">Pet</option>
                        <option value="7">Event</option>


                </select>

                <textarea class="form-control" id="description" placeholder="Enter Event Description and Start Time"
                    rows="3"></textarea>

                <button id="submit">Submit</button>
            </form>

        </main>
    </div>


</body>



<script>

    //console.log(date);


    $('#submit').on('click', function (e) {

        if($('#zip')[0].validity.valid){
        console.log($('#zip')[0].validity.valid);
        e.preventDefault();

        }


        var name = $('#name').val().trim();
        var zip = $('#zip').val().trim();
        var date = $('#date').val().trim();
        var categoryid = $('#category').val().trim();
        var description = $('#description').val().trim();
        var data = {
            userid: sessionStorage.getItem('userid'),
            eventName: name,
            eventZip: zip,
            eventDate: date,
            eventDescription: description,
            categoryid: categoryid
        }

        console.log(data);

        $.ajax({
            method: "POST",
            url: "api/CreateEvent",
            data: data
        }).then(function (response) {
            console.log(response);
            if(response == "Event created!"){

                window.location.pathname = "/groups.html";

            }
         });


    })

</script>

</html>