<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="utf-8">

    <title>Zoom In</title>

    <link rel="icon" href="https://images.vexels.com/media/users/3/141955/isolated/preview/d0f766bbe2603124417ed31d027b14c8-camera-icon-or-logo-by-vexels.png">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC" rel="stylesheet">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/jquery-ui.css">
    

</head>

<body>

    <!-- Jumbotron -->
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <p id="lead">Zoom In</p>
            
                <nav>
                    
                    <div class="navigation">
                        <a href="create.html">Create</a>
                        <a href="find.html">Find</a>
                        <a class="active" href="groups.html">Groups</a>
                    </div>
                    
                </nav>
    
        </div>
    </div>

    <div class="container" >
        <main class= "center">

            <table class="table table-bordered">

                <thead>
                    <tr>
                        <div class="groupsTable" class="col-md-12">Groups</div>
                    </tr>
                </thead>
    
                <tbody id='groups'> 
                        <tr>
                        <th scope="col" class="align-middle">Location</th>
                        <th scope="col" class="align-middle">Date</th>
                        <th scope="col" class="align-middle">Catagory</th>
                        <th scope="col" class="align-middle">Description</th>
                        <th scope="col" class="align-middle">Remove</th>
                        <!-- <th scope="col">
                            <button type="button" class="btn">
                                <span class="glyphicon glyphicon-heart"></span>
                            </button>
                        </th> -->
                    </tr>
                </tbody>
            </table>
            
        </main>
    </div>


</body>

</html>